{% extends "JCAccueilBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Accueil{% endblock %}


{% block jcaccueil_body %}

  <h3>Bienvenue dans l'accueil </h3>
  

  {# Emplacement des evenements marquants #}

  <div class='row'>
  df
  <div> 


{% endblock %}