{% extends "JCAccueilBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Recherche{% endblock %}


{% block jcaccueil_body %}

  <h3>On recherche {{ recherche }} </h3>
  
  
  
  

{% endblock %}